flows (2).json
[{"id":"d4bcf8f2.769c08","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"6b3572c1.ce787c","type":"mqtt in","z":"d4bcf8f2.769c08","name":"","topic":"IoTlab/temperature","qos":"2","datatype":"auto","broker":"bb1e07a.bab9ff8","x":450,"y":380,"wires":[["c6e8f793.a9b158","4dfa8ac8.ae6174","5395ac9e.81f984"]]},{"id":"7f3df170.cbda2","type":"mqtt in","z":"d4bcf8f2.769c08","name":"","topic":"IoTlab/humidity","qos":"2","datatype":"auto","broker":"bb1e07a.bab9ff8","x":440,"y":460,"wires":[["fcaf3ae0.dd64c8"]]},{"id":"f3ff87cf.fa1d38","type":"mqtt out","z":"d4bcf8f2.769c08","name":"","topic":"room/light","qos":"","retain":"","broker":"bb1e07a.bab9ff8","x":1520,"y":760,"wires":[]},{"id":"fcaf3ae0.dd64c8","type":"ui_gauge","z":"d4bcf8f2.769c08","name":"","group":"372b9bd.0116c64","order":2,"width":8,"height":7,"gtype":"wave","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":680,"y":460,"wires":[]},{"id":"c6e8f793.a9b158","type":"ui_gauge","z":"d4bcf8f2.769c08","name":"","group":"4e9a6d5c.03c164","order":2,"width":8,"height":7,"gtype":"gage","title":"Temperature","label":"c","format":"{{value}}","min":"-20","max":"35","colors":["#1923d3","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":690,"y":380,"wires":[]},{"id":"d84991c4.4439b","type":"ui_switch","z":"d4bcf8f2.769c08","name":"","label":"Light switch","tooltip":"","group":"1f02d6a6.b54669","order":15,"width":4,"height":1,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"className":"","x":1350,"y":800,"wires":[["62680db4.4c0784","f3ff87cf.fa1d38"]]},{"id":"e4325bf5.423328","type":"function","z":"d4bcf8f2.769c08","name":"","func":"if (msg.payload.InputTemp > msg.payload.TempThreshold & msg.payload.TempThreshold != null) {\n    msg.topic = \"temperature\";\n    msg.payload = \"Temperature has gone past the threshhold do you want to turn on the fan?\";\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1030,"y":320,"wires":[["ab1d35b9.63c188","8c085067.50755"]]},{"id":"92cea15d.d81c3","type":"join","z":"d4bcf8f2.769c08","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"10","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":870,"y":320,"wires":[["e4325bf5.423328","dd4ba9d4.93ece8"]]},{"id":"1fb36ed3.7faad1","type":"ui_text_input","z":"d4bcf8f2.769c08","name":"TempThreshold","label":"","tooltip":"Temperature Threshhold","group":"4e9a6d5c.03c164","order":5,"width":2,"height":1,"passthru":true,"mode":"number","delay":300,"topic":"TempThreshold","sendOnBlur":true,"className":"","topicType":"msg","x":540,"y":200,"wires":[["8e2dd8cf.d4a9e8"]]},{"id":"4df3314.40950d","type":"mqtt out","z":"d4bcf8f2.769c08","name":"","topic":"room/fan","qos":"","retain":"","broker":"bb1e07a.bab9ff8","x":1300,"y":360,"wires":[]},{"id":"4b4d7ea0.f7102","type":"mqtt in","z":"d4bcf8f2.769c08","name":"","topic":"room/photoresistor","qos":"2","datatype":"auto","broker":"bb1e07a.bab9ff8","x":430,"y":680,"wires":[["9c6e1bb5.86f668","6af1a70e.22c138"]]},{"id":"f4410b77.b28128","type":"ui_text_input","z":"d4bcf8f2.769c08","name":"resistorThreshold","label":"","tooltip":"Resistor Threshhold","group":"1f02d6a6.b54669","order":12,"width":2,"height":1,"passthru":true,"mode":"number","delay":300,"topic":"resistorThreshold","sendOnBlur":true,"className":"","topicType":"msg","x":470,"y":520,"wires":[["cb827188.5da0b"]]},{"id":"46dbdff4.690f5","type":"join","z":"d4bcf8f2.769c08","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"10","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":830,"y":620,"wires":[["fefe5498.cab428","294b4484.340efc"]]},{"id":"fefe5498.cab428","type":"function","z":"d4bcf8f2.769c08","name":"","func":"if (msg.payload.Photoresistor > msg.payload.ResistorThreshold) {\n    msg.topic = \"Photoresistor\";\n    msg.payload = \"Photoresistor has gone past the threshhold do you want to turn on the light?\";\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":990,"y":620,"wires":[["4db59635.a64338","29703bfd.13b854"]]},{"id":"4db59635.a64338","type":"debug","z":"d4bcf8f2.769c08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1170,"y":580,"wires":[]},{"id":"294b4484.340efc","type":"debug","z":"d4bcf8f2.769c08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":990,"y":560,"wires":[]},{"id":"b81169ba.270188","type":"function","z":"d4bcf8f2.769c08","name":"","func":"console.log(msg);\n\nif(msg.topic == \"RE: temperature\") {\n    if (msg.payload == \"Yes\") {\n        // return true.   \n        msg.payload = true;\n    } else { \n        // return false\n        msg.payload = false;\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":380,"wires":[["4df3314.40950d","ec1b9727.b15b28"]]},{"id":"ce6442be.ade9c","type":"function","z":"d4bcf8f2.769c08","name":"","func":"console.log(msg);\n\nif(msg.topic == \"RE: photoresistor\") {\n    if (msg.payload == \"Yes\") {\n        // return true.   \n        msg.payload = true;\n    } else { \n        // return false\n        msg.payload = false;\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":720,"wires":[["62680db4.4c0784","92502bce.b2b698"]]},{"id":"4db76f1.dc23f9","type":"inject","z":"d4bcf8f2.769c08","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"IoTlab/Temperature","payload":"30","payloadType":"num","x":460,"y":340,"wires":[["4dfa8ac8.ae6174"]]},{"id":"ad0bf036.92449","type":"change","z":"d4bcf8f2.769c08","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"TempThreshold","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":300,"wires":[["92cea15d.d81c3"]]},{"id":"ebf47a84.5d5c88","type":"change","z":"d4bcf8f2.769c08","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"ResistorThreshold","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":600,"wires":[["46dbdff4.690f5"]]},{"id":"9c6e1bb5.86f668","type":"change","z":"d4bcf8f2.769c08","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Photoresistor","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":640,"wires":[["46dbdff4.690f5"]]},{"id":"ab1d35b9.63c188","type":"debug","z":"d4bcf8f2.769c08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1210,"y":280,"wires":[]},{"id":"dd4ba9d4.93ece8","type":"debug","z":"d4bcf8f2.769c08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1030,"y":260,"wires":[]},{"id":"e8d1fd3d.25e29","type":"inject","z":"d4bcf8f2.769c08","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"room/photoresistor","payload":"100","payloadType":"num","x":420,"y":640,"wires":[["9c6e1bb5.86f668"]]},{"id":"275bf026.5c208","type":"function","z":"d4bcf8f2.769c08","name":"","func":"date = new Date();\nif(msg.payload == \"28209217110\"){\nmsg.topic = \"Welcome Home!\";\n    msg.payload = \"Jamie has arrived home at \"+date;\n    msg.resistorThreshold = 56;\n    msg.TempThreshold = 23;\n    msg.RSSIThreshold = 18;\n    msg.welcomeMsg = \"Hello Jamie!\";\n    return msg;\n}\nelse if(msg.payload == \"17815613690\"){\nmsg.topic = \"Welcome Home!\";\n    msg.payload = \"Antoine has arrived home at \"+date;\n    msg.resistorThreshold = 60;\n    msg.TempThreshold = 18;\n    msg.RSSIThreshold = 18;\n    msg.welcomeMsg = \"Hello Antoine!\";\n    return msg;\n}\nelse{\n    msg.topic = \"Intruder Alert!\";\n    msg.payload = \"Invalid ID\";\n    msg.resistorThreshold = null;\n    msg.TempThreshold = null;\n    msg.RSSIThreshold = null;\n    msg.welcomeMsg = \"Invalid User!\";\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":250,"y":120,"wires":[["aba3673a.87f088","e05a96b4.5177d8","3bb8f4e1.46885c","e2b7b272.c8c4","cd40c2a6.8ce1","50405974.b4aa58","3ea0878e.570f28"]]},{"id":"11e145bd.c47d8a","type":"mqtt in","z":"d4bcf8f2.769c08","name":"","topic":"IoTlab/RFID","qos":"2","datatype":"auto","broker":"a784cdec.9138e","x":90,"y":120,"wires":[["275bf026.5c208","ca36c913.f41038"]]},{"id":"aba3673a.87f088","type":"mqtt out","z":"d4bcf8f2.769c08","name":"","topic":"IoTlab/IntruderBuzzer","qos":"","retain":"","broker":"a784cdec.9138e","x":460,"y":160,"wires":[]},{"id":"e05a96b4.5177d8","type":"debug","z":"d4bcf8f2.769c08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":410,"y":60,"wires":[]},{"id":"3bb8f4e1.46885c","type":"function","z":"d4bcf8f2.769c08","name":"","func":"msg.topic = \"resistorThreshold\";\nmsg.payload = msg.resistorThreshold;\nreturn msg;\n","outputs":1,"noerr":0,"x":270,"y":600,"wires":[["f4410b77.b28128"]]},{"id":"e2b7b272.c8c4","type":"function","z":"d4bcf8f2.769c08","name":"","func":"msg.topic = \"TempThreshold\";\nmsg.payload = msg.TempThreshold;\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":300,"wires":[["1fb36ed3.7faad1"]]},{"id":"f3538a54.c5ed68","type":"ui_text","z":"d4bcf8f2.769c08","group":"1f02d6a6.b54669","order":11,"width":3,"height":1,"name":"","label":"Light Threshold:","format":"{{msg.payload}}","layout":"row-left","className":"","x":440,"y":560,"wires":[]},{"id":"b39a636.aff40a","type":"ui_text","z":"d4bcf8f2.769c08","group":"4e9a6d5c.03c164","order":4,"width":4,"height":1,"name":"","label":"Temperature Threshold:","format":"{{msg.payload}}","layout":"row-right","className":"","x":450,"y":260,"wires":[]},{"id":"3ea0878e.570f28","type":"ui_text","z":"d4bcf8f2.769c08","group":"1f02d6a6.b54669","order":3,"width":5,"height":3,"name":"","label":"","format":"{{msg.welcomeMsg}}","layout":"row-center","className":"NameText","x":850,"y":120,"wires":[]},{"id":"4dfa8ac8.ae6174","type":"change","z":"d4bcf8f2.769c08","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"InputTemp","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":340,"wires":[["92cea15d.d81c3"]]},{"id":"4462ec33.349514","type":"ui_text","z":"d4bcf8f2.769c08","group":"ac2d6c29.aa28a","order":2,"width":4,"height":1,"name":"","label":"RSSI Threshold:","format":"{{msg.payload}}","layout":"row-left","className":"","x":440,"y":780,"wires":[]},{"id":"c9986780.3672e8","type":"ui_text_input","z":"d4bcf8f2.769c08","name":"RSSIThreshold","label":"","tooltip":"","group":"ac2d6c29.aa28a","order":3,"width":2,"height":1,"passthru":true,"mode":"number","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":480,"y":760,"wires":[["9f195416.a9d778"]]},{"id":"31fee778.d65518","type":"e-mail","z":"d4bcf8f2.769c08","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"TwhartTarsier@gmail.com","dname":"","x":1390,"y":520,"wires":[]},{"id":"dbbcbe47.d8c84","type":"e-mail in","z":"d4bcf8f2.769c08","name":"","protocol":"IMAP","server":"imap.gmail.com","useSSL":true,"autotls":"never","port":"993","box":"INBOX","disposition":"Read","criteria":"UNSEEN","repeat":"5","fetch":"auto","inputs":0,"x":1010,"y":380,"wires":[["b81169ba.270188","a2f11a9c.8412f8"]]},{"id":"50405974.b4aa58","type":"function","z":"d4bcf8f2.769c08","name":"","func":"msg.topic = \"RSSIThreshold\";\nmsg.payload = msg.RSSIThreshold;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":220,"y":800,"wires":[["c9986780.3672e8"]]},{"id":"a018e858.287c28","type":"change","z":"d4bcf8f2.769c08","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Threshold","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":820,"wires":[["2d2e3748.85ce98"]]},{"id":"fa15a214.a0c0c","type":"mqtt in","z":"d4bcf8f2.769c08","name":"","topic":"IoTlab/Bluetooth","qos":"2","datatype":"auto","broker":"bb1e07a.bab9ff8","x":400,"y":880,"wires":[["74e2ac5e.6ab394"]]},{"id":"74e2ac5e.6ab394","type":"change","z":"d4bcf8f2.769c08","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Bluetooth","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":880,"wires":[["2d2e3748.85ce98"]]},{"id":"2d2e3748.85ce98","type":"join","z":"d4bcf8f2.769c08","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"10","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":770,"y":840,"wires":[["903045d0.416208","805f3fd.e1b9ac"]]},{"id":"a508be2e.2349a","type":"ui_text","z":"d4bcf8f2.769c08","group":"ac2d6c29.aa28a","order":6,"width":6,"height":1,"name":"","label":"Number of Bluetooth: ","format":"{{msg.payload}}","layout":"row-spread","className":"","x":1340,"y":860,"wires":[]},{"id":"bfcfb108.4c071","type":"e-mail","z":"d4bcf8f2.769c08","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"TwhartTarsier@gmail.com","dname":"","x":1390,"y":660,"wires":[]},{"id":"21a22c77.a8ba04","type":"e-mail in","z":"d4bcf8f2.769c08","name":"","protocol":"IMAP","server":"imap.gmail.com","useSSL":true,"autotls":"never","port":"993","box":"INBOX","disposition":"Read","criteria":"UNSEEN","repeat":"5","fetch":"auto","inputs":0,"x":910,"y":720,"wires":[["ce6442be.ade9c"]]},{"id":"cd40c2a6.8ce1","type":"e-mail","z":"d4bcf8f2.769c08","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"TwhartTarsier@gmail.com","dname":"","x":470,"y":100,"wires":[]},{"id":"a2f11a9c.8412f8","type":"debug","z":"d4bcf8f2.769c08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1150,"y":440,"wires":[]},{"id":"978a8049.9f54c","type":"ui_table","z":"d4bcf8f2.769c08","group":"ac2d6c29.aa28a","name":"","order":8,"width":6,"height":5,"columns":[{"field":"Name","title":"Name","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"MAC","title":"MAC","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"RSSI","title":"RSSI","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":1210,"y":800,"wires":[]},{"id":"b1a8ba6f.d402d8","type":"ui_template","z":"d4bcf8f2.769c08","group":"1f02d6a6.b54669","name":"","order":21,"width":4,"height":1,"format":"<style>\n    .NameText{\n        font-size: 25px;\n    }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"global","className":"","x":700,"y":180,"wires":[["3ea0878e.570f28"]]},{"id":"437a42cb.6d5d5c","type":"ui_text","z":"d4bcf8f2.769c08","group":"ac2d6c29.aa28a","order":1,"width":0,"height":0,"name":"","label":"","format":"","layout":"row-left","className":"bluetooth_icon","x":330,"y":1180,"wires":[]},{"id":"a89080b4.db725","type":"ui_text","z":"d4bcf8f2.769c08","group":"4e9a6d5c.03c164","order":1,"width":0,"height":0,"name":"","label":"","format":"","layout":"row-left","className":"fan_icon","x":330,"y":1140,"wires":[]},{"id":"45cae55c.fadb0c","type":"ui_text","z":"d4bcf8f2.769c08","group":"1f02d6a6.b54669","order":1,"width":0,"height":0,"name":"","label":"","format":"","layout":"row-left","className":"light_icon","x":330,"y":1100,"wires":[]},{"id":"4fa50946.ae8f18","type":"ui_template","z":"d4bcf8f2.769c08","group":"1f02d6a6.b54669","name":"","order":18,"width":0,"height":0,"format":"<link rel=\"stylesheet\" href=\"https://use.fontawesome.com/releases/v5.15.4/css/all.css\" integrity=\"sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm\" crossorigin=\"anonymous\">\n\n<style>\n.tooltiptext {\n  visibility: hidden;\n  width: 120px;\n  color: #fff;\n  text-align: center;\n\n  /* Position the tooltip */\n  position: absolute;\n  z-index: 1;\n}\n\n.tooltip:hover .tooltiptext {\n  visibility: visible;\n}\n</style>\n\n<script>\n    if (false) {\n        document.getElementsByClassName(\"light_icon\")[0].innerHTML = \"<div class=tooltip><i class=\\\"fas fa-lightbulb fa-2x\\\"></i><span class=tooltiptext>Light is on\";\n        document.getElementsByClassName(\"light_icon\")[0].style.color = \"yellow\";\n    } else {\n        document.getElementsByClassName(\"light_icon\")[0].innerHTML = \"<div class=tooltip><i class=\\\"fas fa-lightbulb fa-2x\\\"></i><span class=tooltiptext>Light is off\";\n        document.getElementsByClassName(\"light_icon\")[0].style.color = \"grey\";\n    }\n\n    if (false) {\n        document.getElementsByClassName(\"fan_icon\")[0].innerHTML = \"<div class=tooltip><i class=\\\"fas fa-fan fa-2x\\\"></i><span class=tooltiptext>Fan is on\";\n        document.getElementsByClassName(\"fan_icon\")[0].style.color = \"orange\";\n    } else {\n        document.getElementsByClassName(\"fan_icon\")[0].innerHTML = \"<div class=tooltip><i class=\\\"fas fa-fan fa-2x\\\"></i><span class=tooltiptext>Fan is off\";\n        document.getElementsByClassName(\"fan_icon\")[0].style.color = \"grey\";\n    }\n    \n    if (false) {\n        document.getElementsByClassName(\"bluetooth_icon\")[0].innerHTML = \"<div class=tooltip><i class=\\\"fab fa-bluetooth-b fa-2x\\\"></i><span class=tooltiptext>In range\";\n        document.getElementsByClassName(\"bluetooth_icon\")[0].style.color = \"blue\";\n    } else {\n        document.getElementsByClassName(\"bluetooth_icon\")[0].innerHTML = \"<div class=tooltip><i class=\\\"fab fa-bluetooth-b fa-2x\\\"></i><span class=tooltiptext>Out of range\";\n        document.getElementsByClassName(\"bluetooth_icon\")[0].style.color = \"grey\";\n    }\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"global","className":"","x":320,"y":1060,"wires":[[]]},{"id":"62680db4.4c0784","type":"ui_template","z":"d4bcf8f2.769c08","group":"1f02d6a6.b54669","name":"","order":19,"width":0,"height":0,"format":"<style>\n.tooltiptext {\n  visibility: hidden;\n  width: 120px;\n  color: #fff;\n  text-align: center;\n\n  /* Position the tooltip */\n  position: absolute;\n  z-index: 1;\n}\n\n.tooltip:hover .tooltiptext {\n  visibility: visible;\n}\n</style>\n\n<script>\n    (function(scope) {\n        scope.$watch('msg.payload', function(data) {\n            if (data) {\n                document.getElementsByClassName(\"light_icon\")[0].innerHTML = \"<div class=tooltip><i class=\\\"fas fa-lightbulb fa-2x\\\"></i><span class=tooltiptext>Light is on\";\n                document.getElementsByClassName(\"light_icon\")[0].style.color = \"yellow\";\n            } else {\n                document.getElementsByClassName(\"light_icon\")[0].innerHTML = \"<div class=tooltip><i class=\\\"fas fa-lightbulb fa-2x\\\"></i><span class=tooltiptext>Light is off\";\n                document.getElementsByClassName(\"light_icon\")[0].style.color = \"grey\";\n            }\n        });\n    })(scope);\n    \n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1520,"y":800,"wires":[[]]},{"id":"ec1b9727.b15b28","type":"ui_template","z":"d4bcf8f2.769c08","group":"4e9a6d5c.03c164","name":"","order":7,"width":0,"height":0,"format":"<style>\n.tooltiptext {\n  visibility: hidden;\n  width: 120px;\n  color: #fff;\n  text-align: center;\n\n  /* Position the tooltip */\n  position: absolute;\n  z-index: 1;\n}\n\n.tooltip:hover .tooltiptext {\n  visibility: visible;\n}\n</style>\n\n<script>\n    (function(scope) {\n        scope.$watch('msg.payload', function(data) {\n            if (data) {\n                document.getElementsByClassName(\"fan_icon\")[0].innerHTML = \"<div class=tooltip><i class=\\\"fas fa-fan fa-2x\\\"></i><span class=tooltiptext>Fan is on\";\n                document.getElementsByClassName(\"fan_icon\")[0].style.color = \"orange\";\n            } else {\n                document.getElementsByClassName(\"fan_icon\")[0].innerHTML = \"<div class=tooltip><i class=\\\"fas fa-fan fa-2x\\\"></i><span class=tooltiptext>Fan is off\";\n                document.getElementsByClassName(\"fan_icon\")[0].style.color = \"grey\";\n            }\n        });\n    })(scope);\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1300,"y":420,"wires":[[]]},{"id":"5a08f358.01fc0c","type":"ui_template","z":"d4bcf8f2.769c08","group":"ac2d6c29.aa28a","name":"","order":18,"width":0,"height":0,"format":"<style>\n.tooltiptext {\n  visibility: hidden;\n  width: 120px;\n  color: #fff;\n  text-align: center;\n\n  /* Position the tooltip */\n  position: absolute;\n  z-index: 1;\n}\n\n.tooltip:hover .tooltiptext {\n  visibility: visible;\n}\n</style>\n\n<script>\n(function(scope) {\n        scope.$watch('msg.payload', function(data) {\n            if (parseInt(data) > 0) {\n                document.getElementsByClassName(\"bluetooth_icon\")[0].innerHTML = \"<div class=tooltip><i class=\\\"fab fa-bluetooth-b fa-2x\\\"></i><span class=tooltiptext>In range\";\n                document.getElementsByClassName(\"bluetooth_icon\")[0].style.color = \"blue\";\n            } else {\n                document.getElementsByClassName(\"bluetooth_icon\")[0].innerHTML = \"<div class=tooltip><i class=\\\"fab fa-bluetooth-b fa-2x\\\"></i><span class=tooltiptext>Out of range\";\n                document.getElementsByClassName(\"bluetooth_icon\")[0].style.color = \"grey\";\n            }\n        });\n    })(scope);\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1300,"y":900,"wires":[[]]},{"id":"5395ac9e.81f984","type":"debug","z":"d4bcf8f2.769c08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":420,"wires":[]},{"id":"ca36c913.f41038","type":"debug","z":"d4bcf8f2.769c08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":260,"y":80,"wires":[]},{"id":"d11ffb1.0dcd608","type":"inject","z":"d4bcf8f2.769c08","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"RE: temperature","payload":"Yes","payloadType":"str","x":970,"y":440,"wires":[["b81169ba.270188"]]},{"id":"3bf559e6.b1ae96","type":"inject","z":"d4bcf8f2.769c08","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[{\"Name\":\"Antoine's Bluetooth\",\"MAC\":\"00:18:E4:0A:00:01\",\"RSSI\":\"-47\"}]","payloadType":"json","x":70,"y":580,"wires":[[]]},{"id":"b3b7f7d.3236d08","type":"comment","z":"d4bcf8f2.769c08","name":"RFID","info":"","x":730,"y":60,"wires":[]},{"id":"1df469a7.8b4176","type":"comment","z":"d4bcf8f2.769c08","name":"Temperature/Humidity","info":"","x":840,"y":220,"wires":[]},{"id":"663fdb11.f9e3d4","type":"comment","z":"d4bcf8f2.769c08","name":"Photoresistor","info":"","x":750,"y":540,"wires":[]},{"id":"d7d663b9.342eb","type":"comment","z":"d4bcf8f2.769c08","name":"Bluetooth","info":"","x":740,"y":720,"wires":[]},{"id":"903045d0.416208","type":"function","z":"d4bcf8f2.769c08","name":"","func":"\nvar devices = msg.payload.Bluetooth;\nif(devices == null || devices == \"\"){\n    return null;\n}\ndevices = devices.split(\"Device: \");\nvar x=[];\ndevices.forEach((device) => {\n    pieces = device.split(\"'\");\n    mac = pieces[1];\n    name = pieces[3];\n    rssi = pieces[5];\n    if(parseInt(rssi) >= msg.payload.Threshold){\n        x.push({\"Name\":name, \"MAC\":mac, \"RSSI\":rssi});\n    }\n});\nmsg.payload = x;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":840,"wires":[["978a8049.9f54c","94f38f97.f888a","572f3416.ddc71c"]]},{"id":"94f38f97.f888a","type":"function","z":"d4bcf8f2.769c08","name":"","func":"length = msg.payload.length;\nmsg.payload = String(length);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1120,"y":860,"wires":[["a508be2e.2349a","5a08f358.01fc0c"]]},{"id":"a70c6ac6.cb0cf8","type":"inject","z":"d4bcf8f2.769c08","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"RE: temperature","payload":"No","payloadType":"str","x":970,"y":480,"wires":[["b81169ba.270188"]]},{"id":"69369e7c.61abc","type":"inject","z":"d4bcf8f2.769c08","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"RE: photoresistor","payload":"Yes","payloadType":"str","x":900,"y":760,"wires":[["ce6442be.ade9c"]]},{"id":"54b977fa.5e38a8","type":"inject","z":"d4bcf8f2.769c08","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"RE: photoresistor","payload":"No","payloadType":"str","x":910,"y":800,"wires":[["ce6442be.ade9c"]]},{"id":"572f3416.ddc71c","type":"debug","z":"d4bcf8f2.769c08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1080,"y":940,"wires":[]},{"id":"1a244c5e.ebe624","type":"inject","z":"d4bcf8f2.769c08","name":"","props":[{"p":"payload"}],"repeat":"1","crontab":"","once":false,"onceDelay":"1","topic":"","payload":"TempThreshold","payloadType":"flow","x":480,"y":300,"wires":[["ad0bf036.92449"]]},{"id":"8e2dd8cf.d4a9e8","type":"change","z":"d4bcf8f2.769c08","name":"","rules":[{"t":"set","p":"TempThreshold","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":260,"wires":[[]]},{"id":"d9d1253f.3fede8","type":"inject","z":"d4bcf8f2.769c08","name":"","props":[{"p":"payload"}],"repeat":"1","crontab":"","once":false,"onceDelay":"1","topic":"","payload":"ResistorThreshold","payloadType":"flow","x":470,"y":600,"wires":[["ebf47a84.5d5c88"]]},{"id":"cb827188.5da0b","type":"change","z":"d4bcf8f2.769c08","name":"","rules":[{"t":"set","p":"ResistorThreshold","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":560,"wires":[[]]},{"id":"9f195416.a9d778","type":"change","z":"d4bcf8f2.769c08","name":"","rules":[{"t":"set","p":"RSSIThreshold","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":780,"wires":[[]]},{"id":"be41d619.db44b8","type":"inject","z":"d4bcf8f2.769c08","name":"","props":[{"p":"payload"}],"repeat":"1","crontab":"","once":false,"onceDelay":"1","topic":"","payload":"RSSIThreshold","payloadType":"flow","x":420,"y":820,"wires":[["a018e858.287c28"]]},{"id":"805f3fd.e1b9ac","type":"debug","z":"d4bcf8f2.769c08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":920,"wires":[]},{"id":"6b4bc60c.12e6c8","type":"inject","z":"d4bcf8f2.769c08","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"temperature","payload":"temperatureEmail","payloadType":"flow","x":1130,"y":520,"wires":[["31fee778.d65518"]]},{"id":"8c085067.50755","type":"change","z":"d4bcf8f2.769c08","name":"","rules":[{"t":"set","p":"temperatureEmail","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":320,"wires":[[]]},{"id":"29703bfd.13b854","type":"change","z":"d4bcf8f2.769c08","name":"","rules":[{"t":"set","p":"photoresistorEmail","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1220,"y":620,"wires":[[]]},{"id":"3ee551fa.2700ce","type":"inject","z":"d4bcf8f2.769c08","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"photoresistor","payload":"photoresistorEmail","payloadType":"flow","x":1130,"y":660,"wires":[["bfcfb108.4c071","3e4958fc.e38c58"]]},{"id":"3e4958fc.e38c58","type":"debug","z":"d4bcf8f2.769c08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1340,"y":720,"wires":[]},{"id":"6af1a70e.22c138","type":"debug","z":"d4bcf8f2.769c08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":680,"wires":[]},{"id":"92502bce.b2b698","type":"mqtt out","z":"d4bcf8f2.769c08","name":"","topic":"room/resistlights","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"6cd13cc9.fdbdb4","x":1280,"y":700,"wires":[]},{"id":"bb1e07a.bab9ff8","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"372b9bd.0116c64","type":"ui_group","name":"Humidity","tab":"67e88bd1.f560d4","order":3,"disp":true,"width":8,"collapse":false,"className":""},{"id":"4e9a6d5c.03c164","type":"ui_group","name":"Temperature","tab":"67e88bd1.f560d4","order":2,"disp":true,"width":8,"collapse":false,"className":""},{"id":"1f02d6a6.b54669","type":"ui_group","name":"Person","tab":"67e88bd1.f560d4","order":1,"disp":true,"width":"7","collapse":false,"className":""},{"id":"a784cdec.9138e","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ac2d6c29.aa28a","type":"ui_group","name":"Bluetooth","tab":"67e88bd1.f560d4","order":4,"disp":true,"width":8,"collapse":false,"className":""},{"id":"6cd13cc9.fdbdb4","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"67e88bd1.f560d4","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]